html {
 width: 100%
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EAD7AB;
  color: #693F1A;
  width: 80%;
  background-image: url(Pics/Background-tile.png);
}

header {
  border: solid 1px #693F1A;
  background-color: #EAD7AB;
  width: 70%;
  display: flex;
  flex-direction: row;
}

main {

}

footer {

}

p {
  margin: 10px;
  width: 500px;
}

.bulk {

}

.header-text {

}

#graphic-one{
  padding: 10px;
  width: 115px;
  height: 69px;
}
