html {
 width: 100%
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: darkblue;
  color: white;
  width: 80%;
}

header {
  width: 70%;
  display: flex;
  flex-direction: row;
}

main {

}

footer {

}

p {
  margin: 10px 10px;
  width: 500px;
}

.bulk{

}

.header-text {

}

#graphic-one{
  width: 115px;
  height: 69px;
}
